RewriteEngine on
RewriteCond %{HTTP_HOST} ^system1.smartpublishers.co$ [NC,OR]    
RewriteCond %{HTTP_HOST} ^system1.smartpublishers.co$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]